
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- display ipsum type in window -->
    <title><%= lipsum %></title>
  </head>
  <body>
    <!-- <h1><%= output.upcase %></h1> -->
    <div>
      <p>
        <<%= output %>
      </p>
    </div>
  </body>
</html>
